header{
    /* height: 50vh; */
    background-color: aqua;
}

#heading{
    cursor: pointer;
}
li{
    list-style: none;
    
}

ul{
    cursor: pointer;
    justify-content: space-between;
}

#Login{
    background-color: white;
    cursor: pointer;
    border-radius: 25%;
    padding: 7px;
    border-style: none;
}

#logo{
width: 50px;
height: 50px;    
}

#hero{
    background-color: aqua;
    /* height: 70vh; */
    
}

#hero-img{
    padding: 30px 40px;
    border-radius: 10%;
    height: 70vh;
    width: 100vh;
    
}